@font-face {
    font-family: 'FavFont';
    src: url('https://texts.she-a.eu/font.ttf') format('truetype');
}
body{
    background-color: rgb(30, 30, 46);
    font-size:24px;
	font-family: 'FavFont', sans-serif;
    color: #fff;
}
img{
    position: absolute;
    border-radius: 0px;
    padding: 0px;
    background:none;
}
#context{
	display: flex;
	flex-direction: column;
    position:absolute;
	max-height: 83.3%;
	width: 70%;
    top: 8.33%;
    left: 50vh;
	text-align: justify;
	overflow-y: auto;
    padding-bottom: 20px;
    box-sizing: border-box;
}
#context p {
    margin-bottom: 0%; /* space between paragraphs */
}
#SheaNameTitle{
	text-align: center;
}
a:link {
  color: rgb(234, 118, 203);
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: rgb(136, 57, 239);
  background-color: transparent;
  text-decoration: underline;
}

.LinkLogo{
	position:fixed;
	height: 16.66%;
	width: 16.66vh;
}
.LinkLink{
	position:fixed;
	font-size:5.55vh;
}

#NuseaLogo {
	left: 0%;
	top: 16.66%;
}
#NuseaAddress {
	left: 16.66vh;
	top: 16.66vh;
}
#MailLogo {
	left: 0%;
	top: 33.4%;
}
#MailAddress {
	left: 16.66vh;
	top: 33.4vh;
}
#MatrixLogo {
	left: 0%;
	top: 50%;
}
#MatrixAddress {
	left: 16.66vh;
	top: 50%;
}
#GithubLogo {
	left: 0%;
	top: 66.6%;
}
#GithubAddress {
	left: 16.66vh;
	top: 66.6%;
}
