@font-face {
    font-family: 'FavFont';
    src: url('https://texts.she-a.eu/font.ttf') format('truetype');
}
body{
    background-color: rgb(30, 30, 46);
    font-size:24px;
	font-family: 'FavFont', sans-serif;
    color: #fff;
}
img{
    position: absolute;
    border-radius: 0px;
    padding: 0px;
    background:none;
}
#SideHandles{
	position:fixed;
	left: 0%;
	top: 0%;
	background-color: rgb(17, 17, 27);
}
#context{
	display: flex;
	flex-direction: column;
    position:absolute;
	text-align: justify;
	overflow-y: auto;
    box-sizing: border-box;
}
#context p {
    margin-bottom: 0%; /* space between paragraphs */
	font-size: 24px;
}
#SheaNameTitle{
	text-align: center;
}
a:link {
  color: rgb(234, 118, 203);
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: rgb(136, 57, 239);
  background-color: transparent;
  text-decoration: underline;
}

.LinkLogo{
	position:fixed;
}
.LinkLink{
	position:fixed;
}
